In [1]:
#         **** Import Libraries  ****

import Bio
from Bio.Seq import Seq
from Bio import SeqIO
from Bio.SeqRecord import SeqRecord
from Bio.SeqIO.FastaIO import SimpleFastaParser

import pandas as pd
import numpy as np
from numpy.random import permutation

import matplotlib.pyplot as plt
from matplotlib import cm
%matplotlib inline
plt.style.use('bmh')

from scipy.spatial.distance import cdist

import sys, csv 

import re

from Bio import SeqIO

import inspect
import seaborn as sns
import os

from itertools import product
from pandas.testing import assert_frame_equal

import warnings
warnings.filterwarnings('ignore')

In [2]:
#          **** Function Define    ****


# Defining a function to read Fasta files and return a dataframe
def read_fasta(file_path, columns) :
 
    with open(file_path) as fasta_file :  
        records = [] 
        for title, sequence in SimpleFastaParser(fasta_file): # SimpleFastaParser Iterate over Fasta records as string tuples. For each record a tuple of two strings is returned, the FASTA title line (without the leading ‘>’ character), and the sequence (with any whitespace removed). 
            record = []
            title_splits=re.findall(r"[\w']+", title) # Data cleaning is needed
          
            record.append(title_splits[0])  # First values are for ID in ngs Fasta 
            record.append(len(sequence)) # Second values are sequence lengths
            sequence = "".join(sequence) #It converts into one line
            record.append(sequence) # Third values are sequence reads
            records.append(record)
    return pd.DataFrame(records, columns = columns) # Returns a dataframe



#Defining a function to read FastQ Files
def load_fastq(file_path):
    """Load FASTQ file and return a dictionary of SeqRecord objects indexed by their ID."""
    return {record.id: record for record in SeqIO.parse(file_path, "fastq")}

#Defining a function to read and store forward and revers reads in a dataframe 
def match_reads(forward_path, reverse_path):
    """Match reads from forward and reverse FASTQ files and create a DataFrame."""
    # Load reads from both files
    forward_reads = load_fastq(forward_path)
    reverse_reads = load_fastq(reverse_path)

    # mMke data for DataFrame
    data = []
    for idx, (f_id, f_record) in enumerate(forward_reads.items(), start=1):
        r_record = reverse_reads.get(f_id, None)
        if r_record:  # Ensure reverse read exists
            data.append([idx, str(f_record.seq), str(r_record.seq)])
    
    # Make a DataFrame to store reads
    df = pd.DataFrame(data, columns=['Read Number', 'Forward Read', 'Reverse Read'])
    return df

def reverse_complement(df, column_name):
    """Reverse complement sequences in a specified column of a DataFrame."""
    df[column_name] = df[column_name].apply(lambda x: str(Seq(x).reverse_complement()))
    return df
    
    
    
# Merging sequences base on the overlping region

def merge_sequences(row, min_overlap=12):
    """Merge forward and reverse reads based on overlapping regions."""
    f_seq = row['Forward Read']
    r_seq = row['Reverse Read']
    #Inserting a code in case tthere is no overlap
#    no_over_id = "catcatcatcat"
    max_overlap = min(len(f_seq), len(r_seq))
    
    for i in range(min_overlap, max_overlap):
        if f_seq[-i:] == r_seq[:i]:
            return f_seq + r_seq[i:]
    return f_seq + r_seq  # Fallback if no overlap is sufficient (Return both reads)

#Merge two files
def merge_files(file1, file2, output_file):
    with open(file1, 'r') as f1, open(file2, 'r') as f2, open(output_file, 'w') as output:
        data1 = f1.read()
        data2 = f2.read()
        output.write(data1)
        output.write(data2)

        #convert text to fasta again 

def Convert_TXT_to_Fasta (infile , outfile):
    fileInput = open(infile, "r")
    fileOutput = open(outfile, "w")
    #Seq counter
    count = 1 ;

    #Loop through each line in the input file
    print ("Converting", os.path.basename(infile) ," to FASTA...")
    for strLine in fileInput:
        if not strLine.isspace() :
            #Strip the endline character from each input line
            strLine = strLine.rstrip("\n")
    
            #Output the header
            fileOutput.write(">" + str(count) + "\n")
            fileOutput.write(strLine + "\n")

            count = count + 1
    print ("Done.")

    #Close the input and output file
    fileInput.close()
    fileOutput.close()

    
#Filtering out peptides with stop codon from sequensces

def Filterstop(Fin , Fout):
    print ("Removing peptides with stop codon in :", os.path.basename(Fin) ," ...")
    fout=open(Fout,'w')

    with open(Fin ,'r') as fin:
        for line in fin:
            line=line.strip()
            if '*'not in line:
                fout.write("%s\n" %(line))
    fout.close()
    print ("Done.")

    
#remove short sequences and NAN values
def dataclean (Dataframein):

    filtered_df = Dataframein[Dataframein['sequence_length'] >92]

    filtered_df['sequence'].replace('', np.nan, inplace=True)
    filtered_df.dropna(subset=['sequence'], inplace=True)
    filtered_df.dropna(subset=['sequence_length'], inplace=True)
    return filtered_df

In [4]:
###Input NGS Files
# File paths for revers and forward read
forward_fastq_path = "../NGS-files/ENR234-NbLibNE_S1_L001_R1_001.fastq"
reverse_fastq_path = "../NGS-files/ENR234-NbLibNE_S1_L001_R2_001.fastq"

# Add reads into a dataFrame
read_df = match_reads(forward_fastq_path, reverse_fastq_path)
def reverse_complement(df, column_name):
    """Reverse complement sequences in a specified column of a DataFrame."""
    df[column_name] = df[column_name].apply(lambda x: str(Seq(x).reverse_complement()))
    return df

# Display the DataFrame
read_df = reverse_complement(read_df, 'Reverse Read')
read_df

,Read Number,Forward Read,Reverse Read
0,1,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGTCAAAGAACGAGAATTTGTCGCATCAATTACGTTAGTTGGA...
1,2,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAGTTCGTAGCTGGTATCGGCTACGGCTCC...
2,3,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAATTTGTTGCCGGCATTGCTTCAGGTAGC...
3,4,ACGATTTTCTGTATCTCAAGTTGCAAACCGTTCTGAGTGTTTTACC...,ACGATTTTCTGTATCTCAAGTTGCAAACCGTTCTGAGTGTTTTACC...
4,5,GACGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAGTTTGTCGCCACAATATCTGGCGGGGGC...
...,...,...,...
313330,313331,ATCAGCGGCGGCGGCCTGGGCACCCAGGTGACCGTGAGCAGCACCCAAG,ATCAGCGGCGGCGGCCTGGGCACCCAGGTGACCGTGAGCAGCACCCAAG
313331,313332,ATCAGCGGCGGCGGCCTGGTGCAGGCGGGCGGCAGCCTGCGCCTGA...,CGCCAGGCGCCGGGCAAAGAACGCGAACTGGTAGCCGGCATCACAA...
313332,313333,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GTATCGACAGGCGCCGGGCAAAGAACGCGAGTTCGTGGCTGGGATT...
313333,313334,ATCCAGCTGCAGGAAAGCGGGAAGGAATAAGAAGCAACTAAACGAG...,TTTTTTTTTTTTTTTTTTTTTTTTTTATAACGTTGTTTATTTTTTT...
313334,313335,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GTATCGCCAGGCGCCGGGCAAAGAACGCGAATTAGTTGCGGGAATA...

In [5]:
# Create a new column 'Complete Read' by merging the forward and reverse reads
read_df['Complete Read'] = read_df.apply(merge_sequences, axis=1)
read_df.to_csv("read_df.csv", index=True)
read_df

,Read Number,Forward Read,Reverse Read,Complete Read
0,1,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGTCAAAGAACGAGAATTTGTCGCATCAATTACGTTAGTTGGA...,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...
1,2,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAGTTCGTAGCTGGTATCGGCTACGGCTCC...,NTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...
2,3,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAATTTGTTGCCGGCATTGCTTCAGGTAGC...,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...
3,4,ACGATTTTCTGTATCTCAAGTTGCAAACCGTTCTGAGTGTTTTACC...,ACGATTTTCTGTATCTCAAGTTGCAAACCGTTCTGAGTGTTTTACC...,ACGATTTTCTGTATCTCAAGTTGCAAACCGTTCTGAGTGTTTTACC...
4,5,GACGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GCCGGGCAAAGAACGCGAGTTTGTCGCCACAATATCTGGCGGGGGC...,GACGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...
...,...,...,...,...
313330,313331,ATCAGCGGCGGCGGCCTGGGCACCCAGGTGACCGTGAGCAGCACCCAAG,ATCAGCGGCGGCGGCCTGGGCACCCAGGTGACCGTGAGCAGCACCCAAG,ATCAGCGGCGGCGGCCTGGGCACCCAGGTGACCGTGAGCAGCACCC...
313331,313332,ATCAGCGGCGGCGGCCTGGTGCAGGCGGGCGGCAGCCTGCGCCTGA...,CGCCAGGCGCCGGGCAAAGAACGCGAACTGGTAGCCGGCATCACAA...,ATCAGCGGCGGCGGCCTGGTGCAGGCGGGCGGCAGCCTGCGCCTGA...
313332,313333,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GTATCGACAGGCGCCGGGCAAAGAACGCGAGTTCGTGGCTGGGATT...,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...
313333,313334,ATCCAGCTGCAGGAAAGCGGGAAGGAATAAGAAGCAACTAAACGAG...,TTTTTTTTTTTTTTTTTTTTTTTTTTATAACGTTGTTTATTTTTTT...,ATCCAGCTGCAGGAAAGCGGGAAGGAATAAGAAGCAACTAAACGAG...
313334,313335,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...,GTATCGCCAGGCGCCGGGCAAAGAACGCGAATTAGTTGCGGGAATA...,TTCGTTATTGCTTCAGTTTTAGCACAGGTGCAGCTGCAGGAAAGCG...

In [6]:
# Convert the 'Complete Read's  to a txt file
with open("complete_reads.txt", "w") as file:
    for read in read_df['Complete Read']:
        file.write(read + '\n')

In [7]:
#Extracting different rounds of enrichment with specific IDs
 

ENR2_id    = "GACGTTATTGCT"
ENR3_id    = "TTCGTTATTGCT"
ENR4_v1_id = "ATCCAGCTGCAG"
ENR4_v2_id = "ATCAGCGGCGGC"
nb_id  = "AGCGGCGGCGGCCTGGTG"

print (" Round 2 ID is  : ", ENR2_id , "\n" , "Round 3 ID is : ", ENR3_id , "\n" , "Round 4_V1 ID is : ", ENR4_v1_id, "\n" , "Round 4_V2 ID is : ", ENR4_v2_id)
                 

    
def Extract(Data_file , ENR2_id , ENR3_id , ENR4_v1_id ,ENR4_v2_id ):
    output_ENR2    = open("ENR2.txt", "w")
    output_ENR3    = open("ENR3.txt", "w")
    output_ENR4v1  = open("ENR4v1.txt", "w")
    output_ENR4v2  = open("ENR4v2.txt", "w")
    output_Extra  = open("Extra.txt", "w")
    
    with open(Data_file,"r") as In_file:
        for line in In_file:
            seq=line.strip()
            
            if seq.find(ENR2_id) != -1:
                # Code for round2
                TagStart = seq.find(nb_id)
                sub=seq[TagStart:]
#                sub=seq #whole line
                output_ENR2.write("%s\n" %sub)
                    
            elif seq.find(ENR3_id) != -1:
                # Code for round3
                TagStart = seq.find(nb_id)
                sub=seq[TagStart:]
#                sub=seq #whole line
                output_ENR3.write("%s\n" %sub)
                    
            elif seq.find(ENR4_v1_id) != -1:
                # Code for round4-1
                TagStart = seq.find(nb_id)
                sub=seq[TagStart:]
#                sub=seq #whole line
                output_ENR4v1.write("%s\n" %sub)
                   
            elif seq.find(ENR4_v2_id) != -1:
                # Code for round4-2
                TagStart = seq.find(nb_id)
                sub=seq[TagStart:]
#               sub=seq #whole line
                output_ENR4v2.write("%s\n" %sub)
                   
            else:
                # Default case, Put them in extra
                sub=seq  #whole line   
                output_Extra.write("%s\n" %sub)
        
    output_ENR2.close()
    output_ENR3.close()
    output_ENR4v1.close()
    output_ENR4v2.close()
    output_Extra.close()

    print ("Data seperated into R2, R3, R4V1 and R4V2 ! ")

        
Extract("complete_reads.txt" , ENR2_id , ENR3_id , ENR4_v1_id ,ENR4_v2_id )

 Round 2 ID is  :  GACGTTATTGCT
 Round 3 ID is :  TTCGTTATTGCT
 Round 4_V1 ID is :  ATCCAGCTGCAG
 Round 4_V2 ID is :  ATCAGCGGCGGC
Data seperated into R2, R3, R4V1 and R4V2 !

In [8]:
# counting lines and checking acuracy:

def count_lines(file_path):
    with open(file_path, 'r') as file:
        line_count = sum(1 for _ in file)
    return line_count

#Usage:
Data_lines = count_lines("complete_reads.txt")
ENR2_lines = count_lines("ENR2.txt")
ENR3_lines = count_lines("ENR3.txt")
ENR4v1_lines = count_lines("ENR4v1.txt")
ENR4v2_lines = count_lines("ENR4v2.txt")
Extra_lines = count_lines("Extra.txt")


Total = ENR2_lines + ENR3_lines + ENR4v1_lines + ENR4v2_lines + Extra_lines

print(f"Number of Data lines: {Data_lines}")
print(f"Number of Total lines: {Total}")

if Data_lines == Total :
    print(f"Extraction is acurate, All lines are included in 5 files : Round2 : {ENR2_lines} , Round 3 : {ENR3_lines}, Round 4 part 1:{ENR4v1_lines}, Round 4 part 2:{ENR4v2_lines} and extra:{Extra_lines} ")
else :
    print(f"Some lines are missing")

print(f"(NBs) : {((ENR2_lines + ENR3_lines + ENR4v1_lines + ENR4v2_lines)/Total)* 100} % and Extra: {((Extra_lines)/Total)* 100}")

Number of Data lines: 313335
Number of Total lines: 313335
Extraction is acurate, All lines are included in 5 files : Round2 : 88968 , Round 3 : 116160, Round 4 part 1:43992, Round 4 part 2:41082 and extra:23133
(NBs) : 92.61716692996313 % and Extra: 7.382833070036862

In [9]:
#Merge round 4 two files (we submited 2 NGS samples for round to increas the coverage)     
merge_files('ENR4v1.txt', 'ENR4v2.txt', 'ENR4.txt')
print("ENR4v1 and ENR4v2 Merged susccefully : ENR4.txt")

ENR4v1 and ENR4v2 Merged susccefully : ENR4.txt

In [10]:
# Convert txt to Fasta
Convert_TXT_to_Fasta("ENR2.txt","ENR2.fasta")
Convert_TXT_to_Fasta("ENR3.txt","ENR3.fasta")
Convert_TXT_to_Fasta("ENR4.txt","ENR4.fasta")
Convert_TXT_to_Fasta("Extra.txt","Extra.fasta")

Converting ENR2.txt  to FASTA...
Done.
Converting ENR3.txt  to FASTA...
Done.
Converting ENR4.txt  to FASTA...
Done.
Converting Extra.txt  to FASTA...
Done.

In [11]:
#convert DNA Alphabet to Protein, translate to amino acids

#Round2
print ("Translating R2 from DNA to Protein...")
def translation(nuc):
    return SeqRecord(seq=nuc.seq.translate(), id = nuc.id)

proteins = (translation(nuc_rec) for nuc_rec in SeqIO.parse("ENR2.fasta",'fasta'))
SeqIO.write(proteins, 'protENR2.fasta','fasta')
print ("Done.")

#Round3
print ("Translating R3 from DNA to Protein...")
def translation(nuc):
    return SeqRecord(seq=nuc.seq.translate(), id = nuc.id)

proteins = (translation(nuc_rec) for nuc_rec in SeqIO.parse("ENR3.fasta",'fasta'))
SeqIO.write(proteins, 'protENR3.fasta','fasta')
print ("Done.")

#Round 4
print ("Translating R4 from DNA to Protein...")
def translation(nuc):
    return SeqRecord(seq=nuc.seq.translate(), id = nuc.id)

proteins = (translation(nuc_rec) for nuc_rec in SeqIO.parse("ENR4.fasta",'fasta'))
SeqIO.write(proteins, 'protENR4.fasta','fasta')
print ("Done.")

#EXTRA Seq
print ("Translating extra from DNA to Protein...")
def translation(nuc):
    return SeqRecord(seq=nuc.seq.translate(), id = nuc.id)

proteins = (translation(nuc_rec) for nuc_rec in SeqIO.parse("Extra.fasta",'fasta'))
SeqIO.write(proteins, 'protExtra.fasta','fasta')
print ("Done.")

Translating R2 from DNA to Protein...
Done.
Translating R3 from DNA to Protein...
Done.
Translating R4 from DNA to Protein...
Done.
Translating extra from DNA to Protein...
Done.

In [12]:
#filtering out peptides with stop codon from sequensces

Filterstop("protENR2.fasta" , "protENR2f.fasta")
Filterstop("protENR3.fasta" , "protENR3f.fasta")
Filterstop("protENR4.fasta" , "protENR4f.fasta")

#show and store All data in data frames :
dataR2   = read_fasta("protENR2f.fasta", columns=["id","sequence_length", "sequence"])
dataR3   = read_fasta("protENR3f.fasta", columns=["id","sequence_length", "sequence"])
dataR4   = read_fasta("protENR4f.fasta", columns=["id","sequence_length", "sequence"])
dataR4

Removing peptides with stop codon in : protENR2.fasta  ...
Done.
Removing peptides with stop codon in : protENR3.fasta  ...
Done.
Removing peptides with stop codon in : protENR4.fasta  ...
Done.

,id,sequence_length,sequence
0,1,0,
1,2,113,SGGGLVQAGGSLRLSCAASGTIFGGVDMGWYRQAPGKEREFVAAIA...
2,3,0,
3,4,0,
4,5,121,SGGGLVQAGGSLRLSCAASGNISYFGGMGWYRQAPGKERELVAGIA...
...,...,...,...
85069,85070,118,SGGGLVQAGGSLRLSCAASGTISYGWHMGWYRQAPGKERELVATIN...
85070,85071,60,SGGGLVQAGGSLRLSCAASGSISDDDAPGKYSLDDSVYIYWYWGQG...
85071,85072,114,SGGGLVQAGGSLRLSCAASGTIFHGQFMGWYRQAPGKERELVATIG...
85072,85073,0,
85073,85074,114,SGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKERELVAGIT...

In [13]:
#remove short sequences and NAN values

dataR2_C= dataclean(dataR2)
dataR3_C= dataclean(dataR3)
dataR4_C= dataclean(dataR4)

dataR2= dataR2_C
dataR3= dataR3_C
dataR4= dataR4_C

# Deleting temp dataframes to make free storage
del dataR2_C
del dataR3_C
del dataR4_C

dataR4

,id,sequence_length,sequence
1,2,113,SGGGLVQAGGSLRLSCAASGTIFGGVDMGWYRQAPGKEREFVAAIA...
4,5,121,SGGGLVQAGGSLRLSCAASGNISYFGGMGWYRQAPGKERELVAGIA...
15,16,117,SGGGLVQAGGSLRLSCAASGNIFRVREMGWYRQAPGKEREFVAGIA...
22,23,120,SGGGLVQAGGSLRLSCAASGTISPYRWMGWYRQAPGKEREFVAGIG...
31,32,121,SGGGLVQAGGSLRLSCAASGYIFRKQRMGWYRQAPGKERELVASIS...
...,...,...,...
85065,85066,118,SGGGLVQAGGSLRLSCAASGTISYGWHMGWYRQAPGKEREFVASID...
85066,85067,117,SGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKEREFVATID...
85069,85070,118,SGGGLVQAGGSLRLSCAASGTISYGWHMGWYRQAPGKERELVATIN...
85071,85072,114,SGGGLVQAGGSLRLSCAASGTIFHGQFMGWYRQAPGKERELVATIG...
85073,85074,114,SGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKERELVAGIT...

In [14]:
dftempR2  = dataR2.loc[:, ['sequence_length' , 'sequence']]
dftempR3  = dataR3.loc[:, ['sequence_length' , 'sequence']]
dftempR4 = dataR4.loc[:, ['sequence_length' , 'sequence']]

df_R2 = dftempR2
df_R3 = dftempR3
df_R4 = dftempR4

del dftempR2
del dftempR3
del dftempR4


## Finding Sequensce of Nanobodies from the reads and fix their starting sequensces

df_R2['sequence'] = df_R2['sequence'].apply(lambda x: x.split('VTVSS')[0] + 'VTVSS' if 'VTVSS' in x else x)
df_R3['sequence'] = df_R3['sequence'].apply(lambda x: x.split('VTVSS')[0] + 'VTVSS' if 'VTVSS' in x else x)
df_R4['sequence'] = df_R4['sequence'].apply(lambda x: x.split('VTVSS')[0] + 'VTVSS' if 'VTVSS' in x else x)

df_R2['sequence_length'] = df_R2['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R3['sequence_length'] = df_R3['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R4['sequence_length'] = df_R4['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)

# remove very long or very short reads to improve acuracy 
smin = 92
smax= 125

df_R2 = df_R2[df_R2["sequence_length"] >= smin]
df_R2 = df_R2[df_R2["sequence_length"] <= smax]

df_R3 = df_R3[df_R3["sequence_length"] >= smin]
df_R3 = df_R3[df_R3["sequence_length"] <= smax]

df_R4 = df_R4[df_R4["sequence_length"] >= smin]
df_R4 = df_R4[df_R4["sequence_length"] <= smax]

#make the original sequence format of NB (Add amino acids in front od reads)
df_R2.loc[:, 'sequence'] = df_R2['sequence'].apply(lambda x: "QVQLQE" + x)
df_R3.loc[:, 'sequence'] = df_R3['sequence'].apply(lambda x: "QVQLQE" + x)
df_R4.loc[:, 'sequence'] = df_R4['sequence'].apply(lambda x: "QVQLQE" + x)

df_R2['sequence_length'] = df_R2['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R3['sequence_length'] = df_R3['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R4['sequence_length'] = df_R4['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)

In [15]:
#grouping in order to count each sequenc repeats the data

dftempR2t = df_R2
dftempR3t = df_R3
dftempR4t = df_R4

del df_R2
del df_R3
del df_R4

df_R2 = dftempR2t.groupby(dftempR2t.columns.tolist(), as_index=False).size()
df_R3 = dftempR3t.groupby(dftempR3t.columns.tolist(), as_index=False).size()
df_R4 = dftempR4t.groupby(dftempR4t.columns.tolist(), as_index=False).size()


#deleting temp dataframes to free ram space
del dftempR2t
del dftempR3t
del dftempR4t

df_R2.sort_values(by= "size", ascending= False, inplace=True)

df_R3.sort_values(by= "size", ascending= False, inplace=True)

df_R4.sort_values(by= "size", ascending= False, inplace=True)

print ("|# # # # # # # # # # # # # # # # # #|")
print ("|Round 2 Unique Sequences : ", df_R2.shape[0]," |")
print ("|-----------------------------------|")
print ("|Round 3 Unique Sequences : ", df_R3.shape[0]," |")
print ("|-----------------------------------|")
print ("|Round 4 Unique Sequences : ", df_R4.shape[0]," |")
print ("|# # # # # # # # # # # # # # # # # #|")

|# # # # # # # # # # # # # # # # # #|
|Round 2 Unique Sequences :  26604  |
|-----------------------------------|
|Round 3 Unique Sequences :  22653  |
|-----------------------------------|
|Round 4 Unique Sequences :  16006  |
|# # # # # # # # # # # # # # # # # #|

In [16]:
# Enrichment

def Enrichment(df_naive, df_mid, df_sorted, outfile):
    # Drop unused column and prepare dataframes
    df1 = df_naive.drop(['sequence_length'], axis=1)
    df2 = df_mid.drop(['sequence_length'], axis=1)
    df3 = df_sorted.drop(['sequence_length'], axis=1)
    
    # Merge the first two dataframes
    merged_df1 = pd.merge(df1, df2, on='sequence', how='outer', suffixes=('_R2', '_R3'))
    merged_df1.fillna({'size_R2': 1, 'size_R3': 0}, inplace=True)
    
    # Merge with the third dataframe
    merged_df = pd.merge(merged_df1, df3, on='sequence', how='outer')
    merged_df.rename(columns={'size': 'size_R4'}, inplace=True)
    merged_df.fillna({'size_R4': 0 , 'size_R2':1 , 'size_R3':1}, inplace=True)
    
    # Compute enrichment ratios and log values
    merged_df["Enrichment R3/R2"] = merged_df["size_R3"] / merged_df["size_R2"]
    merged_df["Enrichment R4/R3"] = merged_df["size_R4"] / merged_df["size_R3"]
    merged_df["Enrichment R4/R2"] = merged_df["size_R4"] / merged_df["size_R2"]    
    # Save to file and return
    merged_df.sort_values(by="size_R4", ascending=False, inplace=True)
    
    merged_df['sequence_length'] = merged_df['sequence'].apply(lambda x: len(x) if isinstance(x, str) else 0)
                                                
    outdf = merged_df
#    outdf.to_csv(outfile, index=True) if you want to save the dataframe here uncomment
    print("NGS Enrichment Analysis done sucsesfully.")

    return outdf
    
    
NBEnrichment = Enrichment (df_R2, df_R3,df_R4,'HARP_NGS_NB_Enrichment.csv')
NBEnrichment

NGS Enrichment Analysis done sucsesfully.

,sequence,size_R2,size_R3,size_R4,Enrichment R3/R2,Enrichment R4/R3,Enrichment R4/R2,sequence_length
40,QVQLQESGGGLVQAGGSLRLSCAASGSIFTDTYMGWYRQAPGKERE...,117.0,792.0,872.0,6.769231,1.101010,7.452991,122
7,QVQLQESGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKERE...,281.0,1310.0,793.0,4.661922,0.605344,2.822064,126
5,QVQLQESGGGLVQAGGSLRLSCAASGTIFHGQFMGWYRQAPGKERE...,312.0,3453.0,682.0,11.067308,0.197509,2.185897,118
1,QVQLQESGGGLVQAGDSLRLSCAASGSIFSYYAMGWYRQAPGKERE...,527.0,1838.0,655.0,3.487666,0.356366,1.242884,118
88,QVQLQESGGGLVQAGGSLRLSCAASGYIFVGTYMGWYRQAPGKERE...,69.0,573.0,638.0,8.304348,1.113438,9.246377,122
...,...,...,...,...,...,...,...,...
30622,QVQLQESGGGLVQAGGSLRLSCAASGNIFRPGTMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,118
30623,QVQLQESGGGLVQAGGSLRLSCAASGTISRLPSMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,122
14789,QVQLQESGGGLVQAGGSLRLSCAASGSISTGDGMGWYRQAPGKERE...,1.0,0.0,0.0,0.000000,NaN,0.000000,124
30625,QVQLQESGGGLVQAGGSLRLSCAASGYISSSQSMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,126
30240,QVQLQESGGGLVQAGGSLRLSCAASGTISTAGRMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,122

In [17]:
# Spliting CDRS

#CDR 1
df_R2['CDR1'] = df_R2['sequence'].apply(lambda x: x.split('ASG')[1].split('MGWY')[0] if ('ASG' in x and 'MGWY' in x) else 1)
#CDR 2
df_R2['CDR2'] = df_R2['sequence'].apply(lambda x: x.split('ERE')[1].split('YADS')[0] if ('ERE' in x and 'YADS' in x) else 1)
#CDR3
df_R2['CDR3'] = df_R2['sequence'].apply(lambda x: x.split('YCA')[1].split('YWGQ')[0] if ('YCA' in x and 'YWGQ' in x) else 1)


#CDR 1
df_R3['CDR1'] = df_R3['sequence'].apply(lambda x: x.split('ASG')[1].split('MGWY')[0] if ('ASG' in x and 'MGWY' in x) else 1)
#CDR 2
df_R3['CDR2'] = df_R3['sequence'].apply(lambda x: x.split('ERE')[1].split('YADS')[0] if ('ERE' in x and 'YADS' in x) else 1)
#CDR3
df_R3['CDR3'] = df_R3['sequence'].apply(lambda x: x.split('YCA')[1].split('YWGQ')[0] if ('YCA' in x and 'YWGQ' in x) else 1)


#CDR 1
df_R4['CDR1'] = df_R4['sequence'].apply(lambda x: x.split('ASG')[1].split('MGWY')[0] if ('ASG' in x and 'MGWY' in x) else 1)
#CDR 2
df_R4['CDR2'] = df_R4['sequence'].apply(lambda x: x.split('ERE')[1].split('YADS')[0] if ('ERE' in x and 'YADS' in x) else 1)
#CDR3
df_R4['CDR3'] = df_R4['sequence'].apply(lambda x: x.split('YCA')[1].split('YWGQ')[0] if ('YCA' in x and 'YWGQ' in x) else 1)

#CDR 1
NBEnrichment['CDR1'] = NBEnrichment['sequence'].apply(lambda x: x.split('ASG')[1].split('MGWY')[0] if ('ASG' in x and 'MGWY' in x) else 1)
#CDR 2
NBEnrichment['CDR2'] = NBEnrichment['sequence'].apply(lambda x: x.split('ERE')[1].split('YADS')[0] if ('ERE' in x and 'YADS' in x) else 1)
#CDR3
NBEnrichment['CDR3'] = NBEnrichment['sequence'].apply(lambda x: x.split('YCA')[1].split('YWGQ')[0] if ('YCA' in x and 'YWGQ' in x) else 1)


## handling 1 in data:
##R1
# First step: Modify 'CDR1' for rows where 'CDR1' is 1, try finding the sequence between 'SG' and 'MG'
df_R2.loc[:, 'CDR1'] = df_R2.apply(lambda row: row['sequence'].split('SG')[1].split('MG')[0] if row['CDR1'] == 1 and 'SG' in row['sequence'] and 'MG' in row['sequence'] else row['CDR1'], axis=1)

# Second step: Modify 'CDR2' for rows where 'CDR2' is 1, try finding the sequence between 'RE' and 'YA'
df_R2.loc[:, 'CDR2'] = df_R2.apply(lambda row: row['sequence'].split('RE')[1].split('YA')[0] if row['CDR2'] == 1 and 'RE' in row['sequence'] and 'YA' in row['sequence'] else row['CDR2'], axis=1)

df_R2.loc[:, 'CDR3'] = df_R2.apply(lambda row: row['sequence'].split('YCA')[1].split('YWG')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YWG' in row['sequence'] else row['CDR3'], axis=1)

# Third step: Modify 'CDR3' for rows where 'CDR3' is 1, try finding the sequence between 'CA' and 'YW'
df_R2.loc[:, 'CDR3'] = df_R2.apply(lambda row: row['sequence'].split('YCA')[1].split('YW')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YW' in row['sequence'] else row['CDR3'], axis=1)


# Fourth step: Modify 'CDR1' for rows where 'CDR1' is still 1, extract sequence positions 19 to 27
df_R2.loc[:, 'CDR1'] = df_R2.apply(lambda row: row['sequence'][19:27] if row['CDR1'] == 1 else row['CDR1'], axis=1)

# Fifth step: Modify 'CDR2' for rows where 'CDR2' is still 1, extract sequence positions 39 to 52
df_R2.loc[:, 'CDR2'] = df_R2.apply(lambda row: row['sequence'][39:52] if row['CDR2'] == 1 else row['CDR2'], axis=1)

##R3
# Modify 'CDR1' for rows where 'CDR1' is 1, try finding the sequence between 'SG' and 'MG'
df_R3.loc[:, 'CDR1'] = df_R3.apply(lambda row: row['sequence'].split('SG')[1].split('MG')[0] if row['CDR1'] == 1 and 'SG' in row['sequence'] and 'MG' in row['sequence'] else row['CDR1'], axis=1)

# Second step: Modify 'CDR2' for rows where 'CDR2' is 1, try finding the sequence between 'RE' and 'YA'
df_R3.loc[:, 'CDR2'] = df_R3.apply(lambda row: row['sequence'].split('RE')[1].split('YA')[0] if row['CDR2'] == 1 and 'RE' in row['sequence'] and 'YA' in row['sequence'] else row['CDR2'], axis=1)

df_R3.loc[:, 'CDR3'] = df_R3.apply(lambda row: row['sequence'].split('YCA')[1].split('YWG')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YWG' in row['sequence'] else row['CDR3'], axis=1)
# Third step: Modify 'CDR3' for rows where 'CDR3' is 1, try finding the sequence between 'CA' and 'YW'
df_R3.loc[:, 'CDR3'] = df_R3.apply(lambda row: row['sequence'].split('YCA')[1].split('YW')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YW' in row['sequence'] else row['CDR3'], axis=1)

# Fourth step: Modify 'CDR1' for rows where 'CDR1' is still 1, extract sequence positions 19 to 27
df_R3.loc[:, 'CDR1'] = df_R3.apply(lambda row: row['sequence'][19:27] if row['CDR1'] == 1 else row['CDR1'], axis=1)

# Fifth step: Modify 'CDR2' for rows where 'CDR2' is still 1, extract sequence positions 39 to 52
df_R3.loc[:, 'CDR2'] = df_R3.apply(lambda row: row['sequence'][39:52] if row['CDR2'] == 1 else row['CDR2'], axis=1)

##R4
# First step: Modify 'CDR1' for rows where 'CDR1' is 1, try finding the sequence between 'SG' and 'MG'
df_R4.loc[:, 'CDR1'] = df_R4.apply(lambda row: row['sequence'].split('SG')[1].split('MG')[0] if row['CDR1'] == 1 and 'SG' in row['sequence'] and 'MG' in row['sequence'] else row['CDR1'], axis=1)

# Second step: Modify 'CDR2' for rows where 'CDR2' is 1, try finding the sequence between 'RE' and 'YA'
df_R4.loc[:, 'CDR2'] = df_R4.apply(lambda row: row['sequence'].split('RE')[1].split('YA')[0] if row['CDR2'] == 1 and 'RE' in row['sequence'] and 'YA' in row['sequence'] else row['CDR2'], axis=1)

df_R4.loc[:, 'CDR3'] = df_R4.apply(lambda row: row['sequence'].split('YCA')[1].split('YWG')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YWG' in row['sequence'] else row['CDR3'], axis=1)

# Third step: Modify 'CDR3' for rows where 'CDR3' is 1, try finding the sequence between 'CA' and 'YW'
df_R4.loc[:, 'CDR3'] = df_R4.apply(lambda row: row['sequence'].split('YCA')[1].split('YW')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YW' in row['sequence'] else row['CDR3'], axis=1)

# Fourth step: Modify 'CDR1' for rows where 'CDR1' is still 1, extract sequence positions 19 to 27
df_R4.loc[:, 'CDR1'] = df_R4.apply(lambda row: row['sequence'][19:27] if row['CDR1'] == 1 else row['CDR1'], axis=1)

# Fifth step: Modify 'CDR2' for rows where 'CDR2' is still 1, extract sequence positions 39 to 52
df_R4.loc[:, 'CDR2'] = df_R4.apply(lambda row: row['sequence'][39:52] if row['CDR2'] == 1 else row['CDR2'], axis=1)

##ENR
# First step: Modify 'CDR1' for rows where 'CDR1' is 1, try finding the sequence between 'SG' and 'MG'
NBEnrichment.loc[:, 'CDR1'] = NBEnrichment.apply(lambda row: row['sequence'].split('SG')[1].split('MG')[0] if row['CDR1'] == 1 and 'SG' in row['sequence'] and 'MG' in row['sequence'] else row['CDR1'], axis=1)

# Second step: Modify 'CDR2' for rows where 'CDR2' is 1, try finding the sequence between 'RE' and 'YA'
NBEnrichment.loc[:, 'CDR2'] = NBEnrichment.apply(lambda row: row['sequence'].split('RE')[1].split('YA')[0] if row['CDR2'] == 1 and 'RE' in row['sequence'] and 'YA' in row['sequence'] else row['CDR2'], axis=1)

NBEnrichment.loc[:, 'CDR3'] = NBEnrichment.apply(lambda row: row['sequence'].split('YCA')[1].split('YWG')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YWG' in row['sequence'] else row['CDR3'], axis=1)

# Third step: Modify 'CDR3' for rows where 'CDR3' is 1, try finding the sequence between 'CA' and 'YW'
NBEnrichment.loc[:, 'CDR3'] = NBEnrichment.apply(lambda row: row['sequence'].split('YCA')[1].split('YW')[0] if row['CDR3'] == 1 and 'YCA' in row['sequence'] and 'YW' in row['sequence'] else row['CDR3'], axis=1)

# Fourth step: Modify 'CDR1' for rows where 'CDR1' is still 1, extract sequence positions 19 to 27
NBEnrichment.loc[:, 'CDR1'] = NBEnrichment.apply(lambda row: row['sequence'][19:27] if row['CDR1'] == 1 else row['CDR1'], axis=1)

# Fifth step: Modify 'CDR2' for rows where 'CDR2' is still 1, extract sequence positions 39 to 52
NBEnrichment.loc[:, 'CDR2'] = NBEnrichment.apply(lambda row: row['sequence'][39:52] if row['CDR2'] == 1 else row['CDR2'], axis=1)

In [18]:
# Assign the length of 'CDR3' using .loc
df_R2.loc[:, 'CDR3_length'] = df_R2['CDR3'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R3.loc[:, 'CDR3_length'] = df_R3['CDR3'].apply(lambda x: len(x) if isinstance(x, str) else 0)
df_R4.loc[:, 'CDR3_length'] = df_R4['CDR3'].apply(lambda x: len(x) if isinstance(x, str) else 0)
NBEnrichment.loc[:, 'CDR3_length'] = NBEnrichment['CDR3'].apply(lambda x: len(x) if isinstance(x, str) else 0)
# Rename the 'size' column to 'Number of Reads' without inplace=True
df_R2 = df_R2.rename(columns={'size': 'Number of Reads'})
df_R3 = df_R3.rename(columns={'size': 'Number of Reads'})
df_R4 = df_R4.rename(columns={'size': 'Number of Reads'})

In [19]:
NBEnrichment

,sequence,size_R2,size_R3,size_R4,Enrichment R3/R2,Enrichment R4/R3,Enrichment R4/R2,sequence_length,CDR1,CDR2,CDR3,CDR3_length
40,QVQLQESGGGLVQAGGSLRLSCAASGSIFTDTYMGWYRQAPGKERE...,117.0,792.0,872.0,6.769231,1.101010,7.452991,122,SIFTDTY,LVATITPGSSTN,AYTYVENQGYYYFA,14
7,QVQLQESGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKERE...,281.0,1310.0,793.0,4.661922,0.605344,2.822064,126,YIFGGGP,FVATIDPGGITY,AEYTEVDFGSNYWSYGHF,18
5,QVQLQESGGGLVQAGGSLRLSCAASGTIFHGQFMGWYRQAPGKERE...,312.0,3453.0,682.0,11.067308,0.197509,2.185897,118,TIFHGQF,LVATIGSGATTY,VDRGDTGPYP,10
1,QVQLQESGGGLVQAGDSLRLSCAASGSIFSYYAMGWYRQAPGKERE...,527.0,1838.0,655.0,3.487666,0.356366,1.242884,118,SIFSYYA,FVAGIANGAITN,AYEIDWPYFG,10
88,QVQLQESGGGLVQAGGSLRLSCAASGYIFVGTYMGWYRQAPGKERE...,69.0,573.0,638.0,8.304348,1.113438,9.246377,122,YIFVGTY,FVAGIASGSSTY,VFYGDQDDSNILYT,14
...,...,...,...,...,...,...,...,...,...,...,...,...
30622,QVQLQESGGGLVQAGGSLRLSCAASGNIFRPGTMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,118,NIFRPGT,FVASISLGATTY,AEGDEFVDLY,10
30623,QVQLQESGGGLVQAGGSLRLSCAASGTISRLPSMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,122,TISRLPS,LVAGIALGSTTN,VGYDYNTDIKYAYY,14
14789,QVQLQESGGGLVQAGGSLRLSCAASGSISTGDGMGWYRQAPGKERE...,1.0,0.0,0.0,0.000000,NaN,0.000000,124,SISTGDG,FVAAISTGAITY,AYGVASQEAVYYLD,14
30625,QVQLQESGGGLVQAGGSLRLSCAASGYISSSQSMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,126,YISSSQS,LVAAIATGTTTY,APQSDYGRDLQAYWWYYL,18
30240,QVQLQESGGGLVQAGGSLRLSCAASGTISTAGRMGWYRQAPGKERE...,1.0,2.0,0.0,2.000000,0.000000,0.000000,122,TISTAGR,LVAGINYGAITY,AVHSPDNLVLGGLD,14

In [20]:
df_R4

,sequence_length,sequence,Number of Reads,CDR1,CDR2,CDR3,CDR3_length
7432,122,QVQLQESGGGLVQAGGSLRLSCAASGSIFTDTYMGWYRQAPGKERE...,872,SIFTDTY,LVATITPGSSTN,AYTYVENQGYYYFA,14
14951,126,QVQLQESGGGLVQAGGSLRLSCAASGYIFGGGPMGWYRQAPGKERE...,793,YIFGGGP,FVATIDPGGITY,AEYTEVDFGSNYWSYGHF,18
2696,118,QVQLQESGGGLVQAGGSLRLSCAASGTIFHGQFMGWYRQAPGKERE...,682,TIFHGQF,LVATIGSGATTY,VDRGDTGPYP,10
834,118,QVQLQESGGGLVQAGDSLRLSCAASGSIFSYYAMGWYRQAPGKERE...,655,SIFSYYA,FVAGIANGAITN,AYEIDWPYFG,10
10768,122,QVQLQESGGGLVQAGGSLRLSCAASGYIFVGTYMGWYRQAPGKERE...,638,YIFVGTY,FVAGIASGSSTY,VFYGDQDDSNILYT,14
...,...,...,...,...,...,...,...
5963,122,QVQLQESGGGLVQAGGGLRLSCAASGSIFNDVHMGWYRQAPGKERE...,1,SIFNDVH,FVAGIANGGSTY,VEAYVDRRFAYYYN,14
5964,122,QVQLQESGGGLVQAGGGLRLSCAASGSIFNDVHMGWYRQAPGKERE...,1,SIFNDVH,LVAGISNGGSTY,AYGGSRLFIRYWFA,14
5965,122,QVQLQESGGGLVQAGGGLRLSCAASGSIFSYYAMGWYRQAPGKERE...,1,SIFSYYA,FVAGIANGAITN,ATDLWSFRDEWAYD,14
5966,122,QVQLQESGGGLVQAGGGLRLSCAASGSIFTDTYMGWYRQAPGKERE...,1,SIFTDTY,FVAAIDNGANTY,ASYPLHYLDTWWFI,14
16005,131,QVQLQESGGGLVQPGGSLRLSCTASGFTLDYYNIGWFRQAPGKERE...,1,LSCTASGF,RVSCISSSGGRTN,AEYTEVDFGSNYWSYGHF,18

In [22]:
df_R4.to_csv('./Results/HARP-NB-Round4-ALL.csv', index=False)
df_R4 = df_R4.loc[df_R4['CDR3'] != 1] #(filtering out CDR3s with error)
df_R4.to_csv('./Results/HARP-NB-Round4-Clean.csv', index=False)
NBEnrichment.to_csv("./Results/HARP-NB-Enrichment-final.csv")

## CDR3 GROUPING

In [32]:
# Group by 'CDR3' and sum the product of 'Number of Reads'
df_R4_CDR3 = df_R4.groupby('CDR3').agg({'Number of Reads': 'sum'}).reset_index()
df_R2_CDR3 = df_R2.groupby('CDR3').agg({'Number of Reads': 'sum'}).reset_index()

df_R2 = df_R2.loc[df_R2['CDR3'] != 1]
df_R2_CDR3.sort_values(by= "Number of Reads", ascending= False, inplace=True)
df_R2_CDR3.reset_index(drop=True, inplace=True)
df_R2_CDR3.to_csv('./Results/HARP-NB-Round2-CDR3.csv', index=False)

df_R4_CDR3.sort_values(by= "Number of Reads", ascending= False, inplace=True)
df_R4_CDR3.reset_index(drop=True, inplace=True)
df_R4_CDR3.to_csv('./Results/HARP-NB-Round4-CDR3.csv', index=False)
df_R4_CDR3

                    CDR3  Number of Reads
0             AYEIDWPYFG             2006
1             VDRGDTGPYP             1961
2         AYTYVENQGYYYFA             1899
3     AEYTEVDFGSNYWSYGHF             1590
4             ADVAIYYWLL             1134
...                  ...              ...
1273          AYWLGDVLYQ                1
1274      AYYDTSSYLVYGHI                1
1275          AYYHGPDRLV                1
1276      AYYPHDHTVGFEHD                1
1277          DWTVNNVGYG                1

[1278 rows x 2 columns]

In [24]:
## CDR3 Enrichment
# Enrichment

def Enrichment (df_naive , df_sorted, outfile):
    df1= df_naive
    df2= df_sorted
    
    # Merge dataframes with left join
    merged_df = pd.merge(df1, df2, on='CDR3', how='outer')
    # Replace NaN values with 1 in the 'size_x' column
    merged_df['Number of Reads_x'] = merged_df['Number of Reads_x'].fillna(1)

    # Replace NaN values with 1 in the 'size_x' column
    merged_df['Number of Reads_y'] = merged_df['Number of Reads_y'].fillna(0)
    #rename
    merged_df.rename(columns = {'Number of Reads_x':'R2' , 'Number of Reads_y':'R4'}, inplace = True)
    #enrichment ratio
    merged_df ["Enrichment Ratio"] = merged_df ["R4"] / merged_df ["R2"]

    #save to file
    merged_df.sort_values(by= "R4", ascending= False, inplace=True)
    merged_df['CDR3_length'] = merged_df['CDR3'].astype(str).apply(len)
    #ADD Random seq
    merged_df['Rand'] = merged_df['CDR3'].str.slice(1)
    # Remove rows with NaN in the 'Rand' column
    merged_df.dropna(subset=['Rand'], inplace=True)

    # Function to remove the character before the last one from each sequence
    def remove_char_before_last(seq):
        if len(seq) > 1:
            return seq[:-2] + seq[-1]  # Keep everything except the second-to-last character and append the last character
        else:
            return seq  # If the sequence has only one character, leave it as it is
    merged_df['Only Random All'] = merged_df['Rand'].apply(remove_char_before_last)
    merged_df ["Random Region Middle"] = merged_df ["Rand"].astype(str).str[:-2]
    merged_df.loc[:, 'CDR3_length-rmid'] = merged_df['Random Region Middle'].apply(lambda x: len(x) if isinstance(x, str) else 0)
    outdf = merged_df
    outdf.to_csv(outfile, index=True)
    print("NGS Enrichment Analysis done sucsesfully.")
    return outdf
    
    
CDR3_Enrichment = Enrichment (df_R2_CDR3, df_R4_CDR3,'./Results/CDR3_Enrichment.csv')
CDR3_Enrichment

NGS Enrichment Analysis done sucsesfully.

,CDR3,R2,R4,Enrichment Ratio,CDR3_length,Rand,Only Random All,Random Region Middle,CDR3_length-rmid
2,AYEIDWPYFG,1100.0,2006.0,1.823636,10,YEIDWPYFG,YEIDWPYG,YEIDWPY,7
3,VDRGDTGPYP,789.0,1961.0,2.485425,10,DRGDTGPYP,DRGDTGPP,DRGDTGP,7
17,AYTYVENQGYYYFA,301.0,1899.0,6.308970,14,YTYVENQGYYYFA,YTYVENQGYYYA,YTYVENQGYYY,11
8,AEYTEVDFGSNYWSYGHF,534.0,1590.0,2.977528,18,EYTEVDFGSNYWSYGHF,EYTEVDFGSNYWSYGF,EYTEVDFGSNYWSYG,15
92,ADVAIYYWLL,126.0,1134.0,9.000000,10,DVAIYYWLL,DVAIYYWL,DVAIYYW,7
...,...,...,...,...,...,...,...,...,...
1435,VSYDLDLYGLYPFE,1.0,0.0,0.000000,14,SYDLDLYGLYPFE,SYDLDLYGLYPE,SYDLDLYGLYP,11
1434,VSYDLDLYGLSPYE,1.0,0.0,0.000000,14,SYDLDLYGLSPYE,SYDLDLYGLSPE,SYDLDLYGLSP,11
1433,ATDYVLRSLN,1.0,0.0,0.000000,10,TDYVLRSLN,TDYVLRSN,TDYVLRS,7
1432,ADGHNAYWFP,1.0,0.0,0.000000,10,DGHNAYWFP,DGHNAYWP,DGHNAYW,7
1367,ANESTDEYFR,2.0,0.0,0.000000,10,NESTDEYFR,NESTDEYR,NESTDEY,7

In [25]:
##Find sequensces with ENQ 

df_R4_CDR3 = pd.read_csv("./Results/HARP-NB-Round4-CDR3.csv")  

def count_sequences_with_enq(df, column_name="CDR3"):
    """
    Counts the number of sequences in the specified column that contain the substring "ENQ".
    
    Parameters:
        df (pd.DataFrame): Input dataframe containing sequence data.
        column_name (str): The name of the column to check. Default is "CDR3".
    
    Returns:
        int: Count of sequences containing "ENQ"
    """
    return df[column_name].str.contains("ENQ", na=False).sum()



count = count_sequences_with_enq(df_R4_CDR3)
print(f"Number of sequences containing 'ENQ': {count}")

Number of sequences containing 'ENQ': 16

In [27]:
df_enq = df_R4_CDR3[df_R4_CDR3["CDR3"].str.contains("ENQ")]
df_enq

                  CDR3  Number of Reads
2       AYTYVENQGYYYFA             1899
614     AYTYVENQGYYYLA                2
639     AYTYVENQGYYYFV                2
712     AYTYVENQDYYYFA                2
714     AYTYVENQGYYEFP                2
755     VYTYVENQGYYYFA                1
1193    AYSYVENQGYYYFA                1
1197    AYTNVENQGYYYFA                1
1212    AYAYVENQGYYYFA                1
1248    SYTYVENQGYYYFA                1
1256    AYTYVENQVYYYFD                1
1261  AYTYVENQGYFDYYYI                1
1262    AYTYVENQGYHYFA                1
1263    AYTYVENQGYSYFA                1
1264      AYTYVENQGYYA                1
1265    AYTYVENQGYYYFD                1